@font-face {
	font-family: "SFUIDisplay-Bold";
	src: url("fonts/SF-UI-Display-Bold.woff") format("woff");
}

@font-face {
	font-family: "SFUIDisplay-Medium";
	src: url("fonts/SF-UI-Display-Medium.woff") format("woff");
}

@font-face {
	font-family: "SFUIDisplay-Regular";
	src: url("fonts/SF-UI-Display-Regular.woff") format("woff");
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: -apple-system, sans-serif;
	background-color: #f2f2f2;
	overflow-x: hidden;
}

.unselectable {
	/* Make text unselectable */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* WHITE HEADER */

.bg-white {
	width: auto;
	border-bottom: 1px #D7D7D7 solid;
	display: flex;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fafafa;
}

.logo {
	width: 25px;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}
.title-tab {
	font-family: "SFUIDisplay-Bold";    
	font-size: 12px;
    letter-spacing: 0.15px;
	color: #262626;
}


.subtitle-tab {
	font-family: "SFUIDisplay-Regular";
    font-size: 12px;
    padding-top: 5px;
    letter-spacing: 0.3px;
    color: #757575;
}

/* BOTTOM CHUNK*/

.top-chunk {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	margin-top: 20px;
	padding-right: 15px;
	border-bottom: 1px #D7D7D7 solid;
	border-top: 1px #D7D7D7 solid;
}

.title-tool {
	font-family: "SFUIDisplay-Medium";
	font-size: 10px;
	letter-spacing: 0.5px;
	color: #707070;
	text-transform: uppercase;
}

.title-return {
	font-family: "SFUIDisplay-Regular";
	font-size: 13px;
	color: #000000;
	letter-spacing: 0.3px;
}

.wcag-wrapper {
	display: flex;
	padding-top: 12px;
}

.wcag-value {
	display: flex;
	flex-direction: row;
	align-items: end;
}

.wcag-level {
	 padding-top: 3px;
}

.contrast-ratio {
	margin-left: 30px;
}

.aaa {
	margin-left: 55px;
}

.img-status {
	width: 20px;
	margin-right: 10px;
}

.button-auto {
	width: 50px;
	border-radius: 3px;
	margin-left: 10px;
}

.col-left {
	width: 205px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.col-right {
	display: flex;
	padding-top: 20px;
	border-top: 1px #D7D7D7 solid;
}

.txt-result {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* TOP CHUNK */
.color-settings {
	display: inline-flex;
    margin-left: 15px;
    margin-right: 15px;
	flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.color-input {
	width: 70px;
	background: #fff;
	border: 1px solid #D4D4D4;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	/* Input Font */
	font-family: "SFUIDisplay-Medium";
	font-size: 12px;
	color: #252525;
	text-transform: uppercase;
	letter-spacing: -0.08px;
	text-align: center;
}

.color-slider {
	padding-top: 10px;
}

.color-foreground {
	padding-top: 20px;
	border-top: 1px #d7d7d7 solid;
}

.input-wrapper {
	position: relative;
	display: flex;
	padding-top:10px;
	align-content: center;
	align-items: center;
}

.circle {
	width: 19px;
	height: 19px;
	border-radius: 100%;
	margin-right: 8px;
	border: 1px solid #C4C4C4;
}

input[type='range'] {
	-webkit-appearance: none;
  }
  
  .slider-input {
	appearance: none;
	border-radius: 3em;
	height: 1em;
	width: 200px;
	border: 0.5px #B6B6B6 solid; 
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
    transition: all 250ms ease-in-out;
  }
  
  input:focus {
	outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
	background: transparent;
	border: 2px white solid;
    border-radius: 100%;
	box-shadow: 0 0 3px 0 rgba(81,81,81,0.70);
    height: 1em;
    width: 1em;
    transition: all 250ms ease-in-out;
}

input[type='range']::webkit-slider-thumb:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.5);
  }


  .swap {
	position: absolute;
	left: 45.5%;
    top: 30%;
    width: 10px;
    padding-left: 5px;
    padding-right: 5px;
	background-color: #f2f2f2;
	transition: 0.2s ease-in-out;
  }

  .swap:hover {
	  opacity: 0.7;
	  transition: 0.2s ease-in-out;
  }
 
  /* CTAs */
  .cta {
	display: flex;
	justify-content: space-evenly;
    margin-left: 15px;
	padding-top: 20px;
    margin-right: 15px;
    flex-direction: row-reverse;
  }

  .btn {
      width: 80px;
      height: 24px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
      font-size: 13px;
      transition: 0.2s ease-in-out;

  }

  .btn-reset {
    width: 24px;
    background-color: transparent;
    height: 24px;
    border-radius: 100%;
    margin-left: 5px;
	background-image: url(img/undo.svg);
    background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s ease-in-out;
  }

  .btn-reset:active {
	transition: 0.2s ease-in-out;
  }
  
  button:focus {
    outline: none;
  }

  button:hover {
	cursor: pointer;
	background-color: rgb(224, 224, 224);
    transition: 150ms ease-in-out;
  }

  .btn:active {
    transition: 150ms ease-in-out;
    color: #C4C4C4;
  }
  
  .button-primary {
      color: white;
	  background-color: #0A7FFF;
      border-radius: 5px;
  }

  .button-primary:hover {
	background-color: rgb(24, 97, 255);
    transition: 150ms ease-in-out;
  }

  .button-primary:active {
      color: #5FACFB;
      transition: 0.2s ease-in-out;
  }