body,
html {
	/* background-color: yellow; */
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
	background-color: #F7F6F7;
}

.unselectable {
	/* Make text unselectable */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* WHITE HEADER */

.bg-white {
	background-color: #fff;
	height: 45px;
	width: auto;
	border-bottom: 1px #D7D7D7 solid;
	display: flex;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
}

.logo {
	width: 36px;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}
.title-tab {
	font-family: SFUIDisplay-Bold;
	font-size: 14px;
	line-height: 20px;
	color: #262626;
}

.subtitle-tab {
	font-family: SFUIDisplay-Medium;
	font-size: 13px;
	line-height: 18px;
	color: #757575;
}

/* BOTTOM CHUNK*/

.top-chunk {
	display: flex;
	margin-left: 30px;
	margin-top: 5px;
	margin-right: 30px;
	padding-bottom: 20px;
	border-top: 1px #D7D7D7 solid;
}

.title-tool {
	font-family: SFUIDisplay-Bold;
	font-size: 10px;
	color: #707070;
	text-transform: uppercase;
	line-height: 32px;
}

.title-return {
	font-family: SFUIDisplay-Medium;
	font-size: 15px;
	color: #000000;
	letter-spacing: -0.08px;
}

.wcag-wrapper {
	display: flex;
}

.wcag-value {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top:5px;
}

.wcag-level {
	 padding-top: 3px;
	 font-size: 16px;
}

.img-status {
	width: 20px;
	margin-right: 10px;
}

.button-auto {
	width: 50px;
	padding-top: 3px;
	padding-bottom: 4px;
	border-radius: 3px;
	margin-left: 10px;
}

.col-left {
	width: 164px;
}

.col-right {
	margin-left: 45px;	
}

.tool {
	margin-top: 10px;
}

/* TOP CHUNK */
.color-settings {
	display: flex;
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 30px;
	padding-bottom: 20px;
}

.color-input {
	width: 80px;
	background: #464646;
	border: 1px solid #C4C4C4;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.20);
	border-radius: 14.5px;
	padding-top: 6px;
	padding-bottom: 6px;
	/* Input Font */
	font-family: SFUIDisplay-Medium;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -0.08px;
	text-align: center;
}

.color-input::first-letter {
	color: #AAAAAA;
}

.input-wrapper {
	position: relative;
	display: flex;
	align-content: center;
	align-items: center;
}

input[type='range'] {
	-webkit-appearance: none;
  }
  
  .slider-input {
	margin-top: 15px;
	appearance: none;
	border-radius: 3em;
	height: 2em;
	width: 160px;
	border: 1px #fff solid; 
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
	background: linear-gradient(to right,  #000000 0%,#670FFF 50%,#ffffff 100%);
    transition: all 250ms ease-in-out;
  }
  
  input:focus {
	outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
	background: transparent;
	border: 2px white solid;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    height: 2em;
    width: 2em;
    transition: all 250ms ease-in-out;
}

input[type='range']::webkit-slider-thumb:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.5);
  }


  /* CTAs */
  .cta {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    padding-bottom: 20px;
    flex-direction: row-reverse;
  }

  .btn {
      width: 80px;
      height: 24px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10);
      border-radius: 5px;
      margin-left: 20px;
      font-size: 13px;
      transition: 0.2s ease-in-out;

  }

  .btn-reset {
    width: 28px;
    background-color: #fff;
    height: 28px;
    border-radius: 100%;
    margin-left: 10px;
    background-image: url(img/undo.svg);
    background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	transition: 0.2s ease-in-out;
  }

  .btn-reset:active {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.20);
	transition: 0.2s ease-in-out;
	background-color: #f5f5f5;
	appearance: none;
  }
  
  button:focus {
    outline: none;
  }

  button:hover {
    box-shadow: 0 3px 6px 0 rgba(10,127,255,0.30);
    transition: 0.2s ease-in-out;
  }

  .btn:active {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.20);
    transition: 0.2s ease-in-out;
    color: #C4C4C4;
  }
  
  .button-primary {
      color: white;
      background-image: linear-gradient(180deg, #5FACFB 0%, #0A7FFF 100%);
      border: 1px solid #005CFE;
      box-shadow: 0 2px 2px 0 rgba(10,127,255,0.10);
      border-radius: 5px;
  }

  .button-primary:active {
      color: #5FACFB;
      transition: 0.2s ease-in-out;
  }