@font-face {
	font-family: "SFUIDisplay-Bold";
	src: url("fonts/SF-UI-Display-Bold.woff") format("woff");
}

@font-face {
	font-family: "SFUIDisplay-Medium";
	src: url("fonts/SF-UI-Display-Medium.woff") format("woff");
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: -apple-system, sans-serif;
	background-color: #fff;
}

.unselectable {
	/* Make text unselectable */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* WHITE HEADER */

.bg-white {
	/* background-color: #fff; */
	/* height: 45px; */
	width: auto;
	border-bottom: 1px #D7D7D7 solid;
	display: flex;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	/* margin-bottom: px; */
}

.logo {
	width: 30px;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}
.title-tab {
	font-family: "SFUIDisplay-Bold";
	font-size: 14px;
	/* line-height: 20px; */
	color: #262626;
}

/* BOTTOM CHUNK*/

.top-chunk {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	margin-top: 20px;
	/* margin-top: 5px; */
	padding-right: 15px;
	border-bottom: 1px #D7D7D7 solid;
	border-top: 1px #D7D7D7 solid;
	/* padding-bottom: 20px; */
	border-top: 1px #D7D7D7 solid;
}

.title-tool {
	font-family: "SFUIDisplay-Bold";
	font-size: 10px;
	letter-spacing: 0.3px;
	color: #707070;
	text-transform: uppercase;
	/* line-height: 32px; */
}

.title-return {
	font-family: "SFUIDisplay-Medium";
	font-size: 14px;
	color: #000000;
	letter-spacing: -0.08px;
}

.wcag-wrapper {
	display: flex;
	padding-top: 12px;
	/* padding-bottom: 10px; */
}

.wcag-value {
	display: flex;
	flex-direction: row;
	align-items: end;
	/* margin-bottom: 15px; */
	/* margin-top:5px; */
}

.wcag-level {
	 padding-top: 3px;
	 /* font-size: 16px; */
}

.contrast-ratio {
	margin-left: 30px;
}

.aaa {
	margin-left: 55px;
}

.img-status {
	width: 20px;
	margin-right: 10px;
}

.button-auto {
	width: 50px;
	/* padding-top: 3px; */
	/* padding-bottom: 4px; */
	border-radius: 3px;
	margin-left: 10px;
}

.col-left {
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #D7D7D7 solid;
}

.col-right {
	display: flex;
	padding-top: 20px;
}

.tool {
	/* margin-top: 10px; */
}

.txt-result {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* TOP CHUNK */
.color-settings {
	display: inline-flex;
    margin-left: 15px;
    margin-right: 15px;
	/* padding-bottom: 15px; */
	flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.color-input {
	width: 70px;
	background: #fff;
	border: 1px solid #D4D4D4;
	/* box-shadow: 0 0 2px 0 rgba(0,0,0,0.20); */
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	/* Input Font */
	font-family: "SFUIDisplay-Medium";
	font-size: 12px;
	color: #252525;
	text-transform: uppercase;
	letter-spacing: -0.08px;
	text-align: center;
}

.color-slider {
	padding-top: 10px;
	/* padding-bottom: 15px; */
}

.color-foreground {
	padding-top: 20px
}

.input-wrapper {
	position: relative;
	display: flex;
	padding-top:10px;
	align-content: center;
	align-items: center;
}

input[type='range'] {
	-webkit-appearance: none;
  }
  
  .slider-input {
	/* margin-top: 15px; */
	appearance: none;
	border-radius: 3em;
	height: 1em;
	width: 200px;
	border: 0.5px #B6B6B6 solid; 
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
    transition: all 250ms ease-in-out;
  }
  
  input:focus {
	outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
	background: transparent;
	border: 2px white solid;
    border-radius: 100%;
	box-shadow: 0 0 3px 0 rgba(81,81,81,0.70);
    height: 1em;
    width: 1em;
    transition: all 250ms ease-in-out;
}

input[type='range']::webkit-slider-thumb:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.5);
  }


  .swap {
	position: absolute;
	left: 47%;
	top: 16.25%;
	width: 10px;
	background-color: #fff;
	transition: 0.2s ease-in-out;
  }

  .swap:hover {
	  opacity: 0.7;
	  transition: 0.2s ease-in-out;
  }
 
  /* CTAs */
  .cta {
	display: flex;
	justify-content: space-evenly;
    margin-left: 15px;
	/* margin-top: 20px; */
	padding-top: 20px;
    margin-right: 15px;
    /* padding-bottom: 15px; */
    flex-direction: row-reverse;
  }

  .btn {
      width: 80px;
      height: 24px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10);
      border-radius: 5px;
      /* margin-left: 20px; */
      font-size: 13px;
      transition: 0.2s ease-in-out;

  }

  .btn-reset {
    width: 24px;
    background-color: transparent;
    height: 24px;
    border-radius: 100%;
    margin-left: 5px;
	background-image: url(img/undo.svg);
	/* border: 1px solid #C4C4C4; */
    background-repeat: no-repeat;
	background-position: center;
	/* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25); */
	transition: 0.2s ease-in-out;
  }

  .btn-reset:active {
	transition: 0.2s ease-in-out;
  }
  
  button:focus {
    outline: none;
  }

  button:hover {
    box-shadow: 0 3px 6px 0 rgba(10,127,255,0.30);
    transition: 0.2s ease-in-out;
  }

  .btn:active {
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.20);
    transition: 0.2s ease-in-out;
    color: #C4C4C4;
  }
  
  .button-primary {
      color: white;
      background-image: linear-gradient(180deg, #5FACFB 0%, #0A7FFF 100%);
      border: 1px solid #005CFE;
      box-shadow: 0 2px 2px 0 rgba(10,127,255,0.10);
      border-radius: 5px;
  }

  .button-primary:active {
      color: #5FACFB;
      transition: 0.2s ease-in-out;
  }